<%- include('../templates/header'); -%>
<section class="py-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <form class="container" action="/logout" method = 'POST'>
        <h2>Logout</h2>
      
        <button type="submit" class="btn btn-primary mt-2">Logout</button>
      </form>
    </div>
  </div>

<%- include('../templates/footer'); -%>
